<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Welcome page</h1>
<p>You have entered the following url: <%= url %> (<%= method %> method).</p>
<p>There are list of API calls you can use here</p>
<ul>
    <li>GET /blogs</li>
    <li>GET /blogs/{id}</li>
    <li>POST /blogs</li>
    <li>PUT /blogs/{id}</li>
    <li>DELETE /blogs/{id}</li>
</ul>
<small>This page is generated with ejs view engine</small>    
</body>
</html>
